#campos{

    margin: 20px;


}

#campo_peso{

    margin: 5px;
    border-radius: 10px;
}

#campo_altura{

    margin: 5px;
    border-radius: 10px;


}

#botao{

    display: inline-block;
    float: right;
    margin-top: 15px;


}

#display{

    margin: 15px;
    border-radius: 10px;

}
